<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: common-header" />
<body>

<div th:replace="fragments :: navbar-profile"/>

<section class="hero-section hero-50 d-flex justify-content-center align-items-center" id="section_1">
    <div class="section-overlay"></div>
    <svg viewBox="0 0 1962 178" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="#3D405B" d="M 0 114 C 118.5 114 118.5 167 237 167 L 237 167 L 237 0 L 0 0 Z" stroke-width="0"></path> <path fill="#3D405B" d="M 236 167 C 373 167 373 128 510 128 L 510 128 L 510 0 L 236 0 Z" stroke-width="0"></path> <path fill="#3D405B" d="M 509 128 C 607 128 607 153 705 153 L 705 153 L 705 0 L 509 0 Z" stroke-width="0"></path><path fill="#3D405B" d="M 704 153 C 812 153 812 113 920 113 L 920 113 L 920 0 L 704 0 Z" stroke-width="0"></path><path fill="#3D405B" d="M 919 113 C 1048.5 113 1048.5 148 1178 148 L 1178 148 L 1178 0 L 919 0 Z" stroke-width="0"></path><path fill="#3D405B" d="M 1177 148 C 1359.5 148 1359.5 129 1542 129 L 1542 129 L 1542 0 L 1177 0 Z" stroke-width="0"></path><path fill="#3D405B" d="M 1541 129 C 1751.5 129 1751.5 138 1962 138 L 1962 138 L 1962 0 L 1541 0 Z" stroke-width="0"></path></svg>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">

                <h1 class="text-white mb-4 pb-2">Welcome <span th:text="${reader.fullName_en}"></span>!</h1>

                <p class="text-white">You have registered to the following Book Reader Competition. Please read all information about the competition
                 and consider the rules which would be followed. Have a look at the following tips which should help you to win the competition.</p>

            </div>

        </div>
    </div>

    <svg viewBox="0 0 1962 178" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="#ffffff" d="M 0 114 C 118.5 114 118.5 167 237 167 L 237 167 L 237 0 L 0 0 Z" stroke-width="0"></path> <path fill="#ffffff" d="M 236 167 C 373 167 373 128 510 128 L 510 128 L 510 0 L 236 0 Z" stroke-width="0"></path> <path fill="#ffffff" d="M 509 128 C 607 128 607 153 705 153 L 705 153 L 705 0 L 509 0 Z" stroke-width="0"></path><path fill="#ffffff" d="M 704 153 C 812 153 812 113 920 113 L 920 113 L 920 0 L 704 0 Z" stroke-width="0"></path><path fill="#ffffff" d="M 919 113 C 1048.5 113 1048.5 148 1178 148 L 1178 148 L 1178 0 L 919 0 Z" stroke-width="0"></path><path fill="#ffffff" d="M 1177 148 C 1359.5 148 1359.5 129 1542 129 L 1542 129 L 1542 0 L 1177 0 Z" stroke-width="0"></path><path fill="#ffffff" d="M 1541 129 C 1751.5 129 1751.5 138 1962 138 L 1962 138 L 1962 0 L 1541 0 Z" stroke-width="0"></path></svg>
</section>

<section class="events-section events-detail-section section-padding" id="section_2">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-8 col-12 mx-auto">

                <div class="custom-block-info">
                    <h3 class="mb-3"><span th:text="${readerExam.book.title_en}"></span> Reading</h3>

                    <div class="progress" role="progressbar" aria-valuemin="0" th:aria-valuemax="'${#dates.day(readerExam.examDate)}'">
                        <div class="progress-bar bg-warning text-dark" style="width: 75%"></div>
<!--                        <p class="col-12 float-right" th:text="${#dates.day(readerExam.examDate)}"></p>-->
                    </div>

                    <h4 class="mb-4">About the Competition:</h4>
                    <p th:text="${readerExam.information}"></p>


                    <h4 class="mb-4">About the Book:</h4>
                    <p th:text="${readerExam.book.desc_en}"></p>

                    <p class="alert-info">The Questions will be here soon!</p>

                    <div class="events-detail-info row my-5">
                        <div class="col-lg-12 col-12">
                            <h4 class="mb-3">Event Detail</h4>
                        </div>

                        <div class="col-lg-4 col-12">
                            <span class="custom-block-span">Date:</span>

                            <p class="mb-0">29 Jan 2024</p>
                        </div>

                        <div class="col-lg-4 col-12 my-3 my-lg-0">
                            <span class="custom-block-span">Location:</span>

                            <p class="mb-0">Online</p>
                        </div>

                        <div class="col-lg-4 col-12">
                            <span class="custom-block-span">Time:</span>

                            <p class="mb-0">14:00</p>
                        </div>
                    </div>

                    <img src="images/WorldMap.svg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<div th:replace="fragments :: footer-profile" />

<div th:replace="fragments :: body-bottom-scripts"/>
</body>
</html>